<p>Welcome to Cruz's Weather Report. Simply enter a zipcode.Welcome to Cruz's Weather Report. Simply enter a zipcode.Welcome to Cruz's Weather Report. Simply enter a zipcode.Welcome to Cruz's Weather Report. Simply enter a zipcode.</p>
<p>Yup. Just do it.</p>
